---
title: Services
---


<section class="hero services">
  <div class="hero-wrap border">
    <div class="hero-body">
      <h1 class="hero-heading">Services</h1>
    </div>
  </div>
</section>

<div class="arrows">
  <section class="section short watercolor">
    <img src="/assets/img/sections/watercolor-columns.jpg" alt="" class="center block">
    <div class="container">
      <div class="lede">
        <p>The Adelphi Events approach to Wedding and Event Planning is focused on collaboration and vendor relationships. At Adelphi Events we offer our clients everything from event design, creative direction, logistical management, vendor selection, consulting, and so much more. Unlimited contact, and our use of collaborative software, allows our clients and the entire event team to stay in the loop on the logistical elements of your event. Coupled with thorough work and extensive planning, we ensure no detail is overlooked - making your event truly one-of-a-kind!</p>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="typeset">
        <h2 class="h5 font-proxima lowercase">Check out our packages</h2>
      </div>

      <ul class="jump-links">
        <li><a href="#full-service">Full Service</a></li>
        <li><a href="#partial-service">Partial Service</a></li>
        <li><a href="#month-before">Month Before</a></li>
      </ul>
    </div>
  </section>

  <section class="section typeset">
    <div class="container">

      <h3 class="service-heading" id="full-service"><img src="/assets/img/services/full-service.png" alt="Full Service"></h3>

      <p>With the Full Service Planning Package, Adelphi will be there from your first purchase through the day of your wedding, up until the last guest departs. While you are enjoying the next few months stress-free, we will be working behind the scenes to execute every detail, keeping you on budget and on task throughout the entire process. This packages includes (but is certainly not limited to):</p>

      <p><b>***INCLUDES MONTH-BEFORE COORDINATION PACKAGE***</b></p>

      <h4>Event Design</h4>

      <p>We will create a custom, cohesive design concept and carry it through to every aspect of your wedding - including help with all the many details that make your wedding truly special. We will design a one-of-a-kind inspiration board for you and your vendors that guides the style and essence of your event.</p>

      <h4>Organization & Project Management</h4>
      
      <p>Along with maintaining all vendor contact, we will create and maintain a multitude of timelines, checklists, diagrams, plans and photography shot lists – all to deliver a seamless event. This is arguably the most important feature of the wedding planning process, and the part we excel in.</p>


      <h4>Budget Assistance</h4>
      
      <p>We will create professional, realistic budgets with advice on where to cut and where to splurge. Rest assured that our number one priority while planning is what is important to you!</p>

      <h4>Vendor Selection & Management</h4>
      
      <p>We will find the perfect vendors for you based on taste, budget, and personality and ensure that you get the right contract for your event. We negotiate with vendors to get the best deal possible, hash out the details, and review everything before it is signed. Vendors include (but are not limited to):</p>
      
      <ul>
        <li>Venue</li>
        <li>Caterer</li>
        <li>Baker</li>
        <li>Florist</li>
        <li>Musicians</li>
        <li>Entertainment</li>
        <li>Photographer</li>
        <li>Videographer</li>
        <li>Set/Decor Rentals</li>
        <li>Catering Rentals </li>
        <li>Lighting</li>
        <li>Wedding Attire</li>
        <li>Officiate</li>
        <li>Transportation</li>
        <li>Invitations</li>
        <li>Paper Goods</li>
        <li>Staffing</li>
        <li>Accommodations</li>
        <li>and more!</li>
      </ul>

      <h4>Guest Services</h4>
      
      <p>We will negotiate hotel room blocks, assemble oscar-worthy welcome bags, book transportation, and provide information on local activities and sights. Other options include curated weekend activities and excursions to give your guests the full experience. We will also ensure that all guests’ needs during your event are catered to.</p>

      <h4>Personal Assistance</h4>
      
      <p>We can attend dress fittings, schedule spa appointments for the weekend of the wedding, and act as a trusted advisor for any special personal or family needs.</p>

      <h4>Event Installation & Production</h4>
      
      <p>We oversee your entire event from start to finish, keeping the event running smoothly and on time. We include as many meetings as needed to make things perfect. At least two assistants will be at each full service wedding, and we never limit the number of hours worked on your event!</p>

      <p>**Unlimited Meetings and Communication with Couple Prior to Wedding</p>
      
      <p>Lots of planners want to push off their clients until mere months before, and only take care of big players leading up to the event… But that isn’t why you hired a full service planner now is it?! Adelphi makes itself available to their clients from the minute the contract is signed, up through (and usually beyond!) the day of their wedding. We want to be there for you in any way we can!</p>

      <h3 class="service-heading" id="partial-service"><img src="/assets/img/services/partial-service.png" alt="Partial Service"></h3>

      <p>For Partial Planning, you can select any item(s) from the Full Service Planning Package to create a custom package just for you. Items to choose from include:</p>

      <ul>
        <li>Event Design</li>
        <li>Organization & Project Management</li>
        <li>Budget Assistance</li>
        <li>Vendor Selection & Management</li>
        <li>Guest Services</li>
        <li>Personal Assistance</li>
        <li>Event Installation & Production</li>
        <li>Includes Month-before Coordination Package</li>
      </ul>

      <h3 class="service-heading" id="month-before"><img src="/assets/img/services/month-before.png" alt="Month Before Coordination"></h3>

      <p>(Includes one assistant at reception. Added cost for additional assistant.)</p>

      <h4>Client Will Provide</h4>

      <p>From time of contract signing to 30 days prior, client will be responsible for the following:</p>

      <ul>
        <li>Event Design</li>
        <li>Event Organization</li>
        <li>Project Management</li>
        <li>Budgeting</li>
        <li>Hiring All Vendors</li>
      </ul>

      <h4>Planner Will Provide</h4>

      <p>30 days prior to event, Planner will facilitate and execute the items listed in “Client Will Provide” along with the following day-of duties:</p>

      <ul>
        <li>Event Installation</li>
        <li>Event Production</li>
        <li>Setup/breakdown</li>
        <li>Guest Needs</li>
        <li>Personal Assistance</li>
        <li>Take Over All Contact With Vendors</li>
      </ul>

      <h3 class="service-heading" id="wedding-triage"><img src="/assets/img/services/wedding-triage.png" alt="Wedding Triage"></h3>

      <p>Are you only a few months - or even <b><i>weeks</i></b> - away from your wedding day and realizing you’re in far too deep and in a complete state of OVERWHELM?! Too many projects, too many phone calls, too many people and places and vendors to organize?! Don’t waste another moment fretting alone among your many checklists and bridal magazines craving the event of your dreams and worrying it will fall short.</p>
       
      <p>Wedding Triage™ is your at-the-moment wedding personal assistant. Consider us the MOH you always wish you had. Our little black book is crammed with the best contacts in the biz and we are here to help you with your BIG DAY! </p>

      <p>Brides may decide, “I’ll plan this on my own,” not realizing the full time commitment of planning a wedding and then life events get in the way. There is no item too big or too small - we can take care of them ALL! <b>Please contact us now to create a custom triage package to wrap up your wedding in a big pretty bow!</b></p>
    </div>
  </section>

  <section class="band">
    <img src="/assets/img/bands/beard-couple.jpg" alt="" class="band-img">
  </section>

  <img src="/assets/img/arrows/arrows-left.png" alt="" class="arrows-left">
  <img src="/assets/img/arrows/arrows-right.png" alt="" class="arrows-right">
</div>
