---
title: Services
banner: opaque
---


<section class="hero services">
  <div class="hero-wrap border">
    <div class="hero-body">
      <h1 class="hero-heading">Services</h1>
    </div>
  </div>
</section>

<div class="arrows watercolor close">
  <section class="section">
    <div class="container">
      <div class="lede">
        <p>The Adelphi Events approach to Wedding and Event Planning is focused on collaboration and vendor relationships. At Adelphi Events we offer our clients everything from event design, to creative direction, logistical management, vendor selection, consulting, and so much more. Unlimited contact, and our use of collaborative software, allows our clients and the entire event team to stay in the loop on the logistical elements of your event. Coupled with thorough work and extensive planning, we ensure no detail is overlooked - making your event truly one-of-a-kind!</p>
      </div>

      <ul class="jump-links">
        <li><a href="#full-service"><span>Full Service</span></a></li>
        <li><a href="#partial-service"><span>Partial Service</span></a></li>
        <li><a href="#month-before"><span>Month Before</span></a></li>
        <li><a href="#wedding-triage"><span>Wedding Triage</span></a></li>
      </ul>

      <div class="typeset">
        <h3 class="service-heading" id="full-service">Full Service</h3>

        <p>With the Full Service Planning Package, Adelphi will be there from your first purchase through the day of your wedding, up until the last guest departs. While you are enjoying the next few months stress-free, we will be working behind the scenes to execute every detail, keeping you on budget and on task throughout the entire process. At Adelphi we consider Full Service just that — we are there for everything from the very beginning. This packages includes (but is certainly not limited to):</p>

        <ul>
          <li>Event Design</li>
          <li>Organization & Project Management</li>
          <li>Budget Assistance</li>
          <li>Vendor Selection & Management</li>
          <li>Guest Services</li>
          <li>Personal Assistance</li>
          <li>Event Installation & Production</li>
          <li>Includes Month-Before Coordination Package</li>
          <li>Unlimited Communication</li>
        </ul>

        <p>You hire a full service event planner as the wedding process can be intimidating and chock full of questions and surprises. A seasoned planner comes equipped with knowledge and answers. They can tease out your style and, more importantly, are there to field all the correspondence and fine tuning that comes along with it. Planning an event this unique and personal is a exceptional undertaking, but with Adelphi in your arsenal you can relax knowing your day will be a success!</p>

        <h3 class="service-heading" id="partial-service">Partial Service</h3>

        <p>Whether you’re part way through the planning process or just starting, our Partial Planning Package could be the perfect fit. While you take on the tasks you love, we will build on any groundwork you’ve begun and handle all the logistics and details from there. Think of us as your advocate, sounding board, and creative partner. For Partial Planning, you can select any item(s) from the Full Service Planning Package to create a custom package just for you!</p>

        <ul>
          <li>Event Design</li>
          <li>Organization & Project Management</li>
          <li>Budget Assistance</li>
          <li>Vendor Selection & Management</li>
          <li>Guest Services</li>
          <li>Personal Assistance</li>
          <li>Event Installation & Production</li>
          <li>Includes Month-Before Coordination Package</li>
          <li>Unlimited Communication</li>
        </ul>

        <h3 class="service-heading" id="month-before">Month Before Coordination</h3>

        <p>Say you’ve got everything organized and just need someone to come in and wrap things up in a neat bow? Done. Thirty days prior to your event, we will take the hard work you’ve done designing, organizing, managing, budgeting, hiring—and make it come to life! That includes managing contact with your vendors, providing them with any last minute needs, facilitating your event’s installation, setup and breakdown, handling any guests’ needs onsite and, of course, providing personal assistance to the bride and groom! Our favorite thing to do.</p>


        <h3 class="service-heading" id="wedding-triage">Wedding Triage</h3>

        <p>What if you are just a few months or even weeks away from your wedding day and suddenly realize you’re in too deep. Too many activities to plan, too many phone calls to chase, too many people and places and vendors to coordinate? Don’t waste another moment fretting alone or feeling overwhelmed.</p>

        <p>Wedding Triage is your in-this-moment wedding personal assistant. Consider us the Maid of Honor you always hoped for. Our little black book is overflowing with the best resources in the industry, ready to help rescue and realize your dream day.</p>

        <p>There is no item too big or too small, we can take care of them ALL. Please contact us now to create a custom triage package to shape, manage, and wrap up your wedding in a perfect, beautiful bow!</p>
      </div>
    </div>
  </div>

  <img src="/assets/img/arrows/arrows-left.png" alt="" class="arrows-left">
  <img src="/assets/img/arrows/arrows-right.png" alt="" class="arrows-right">
</div>
