//
// Icon Font: iconz
//

@font-face {
  font-family: "iconz";
  src: url("/assets/css/iconz/iconz_f632f2f8460e4c032f40d409ac3f81f7.eot");
  src: url("/assets/css/iconz/iconz_f632f2f8460e4c032f40d409ac3f81f7.eot?#iefix") format("embedded-opentype"),
       url("/assets/css/iconz/iconz_f632f2f8460e4c032f40d409ac3f81f7.woff") format("woff"),
       url("/assets/css/iconz/iconz_f632f2f8460e4c032f40d409ac3f81f7.ttf") format("truetype"),
       url("/assets/css/iconz/iconz_f632f2f8460e4c032f40d409ac3f81f7.svg#iconz") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "iconz";
    src: url("/assets/css/iconz/iconz_f632f2f8460e4c032f40d409ac3f81f7.svg#iconz") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.iconz-arrow:before,
.iconz-diamond:before,
.iconz-grid:before,
.iconz-scroll:before {
  display: inline-block;
  font-family: "iconz";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.iconz-arrow:before { content: "\f104"; }
.iconz-diamond:before { content: "\f107"; }
.iconz-grid:before { content: "\f105"; }
.iconz-scroll:before { content: "\f106"; }

$font-iconz-arrow: "\f104";
$font-iconz-diamond: "\f107";
$font-iconz-grid: "\f105";
$font-iconz-scroll: "\f106";
