---
title: Press
banner: white
---

<section class="section">
  <div class="container">
    
    <div class="typeset">
      <h2 class="major">Press</h2>
    </div>

    <div class="press">
      <article class="press-item">
        <a href="http://greenweddingshoes.com/" class="press-target" data-iframe-target>
          <img src="/assets/img/praise/green-wedding-shoes.png" alt="" class="press-img">
        </a>
        <div class="press-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
      </article>

      <article class="press-item">
        <a href="http://snippetandink.com/" class="press-target" data-iframe-target>
          <img src="/assets/img/praise/snippet-and-ink.png" alt="" class="press-img">
        </a>
        <div class="press-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
      </article>

      <article class="press-item">
        <a href="http://www.bravotv.com/" class="press-target" data-iframe-target>
          <img src="/assets/img/praise/bravo.png" alt="" class="press-img">
        </a>
        <div class="press-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
      </article>

      <article class="press-item">
        <a href="#" class="press-target" data-iframe-target>
          <img src="/assets/img/praise/a.png" width="500" height="500" alt="" class="press-img">
        </a>
        <div class="press-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
      </article>

      <article class="press-item">
        <a href="http://www.weddingchicks.com/" class="press-target" data-iframe-target>
          <img src="/assets/img/praise/the-wedding-chicks.png" alt="" class="press-img">
        </a>
        <div class="press-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
      </article>

      <article class="press-item">
        <a href="http://www.bravotv.com/" class="press-target" data-iframe-target>
          <img src="/assets/img/praise/bravo.png" alt="" class="press-img">
        </a>
        <div class="press-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
      </article>

      <article class="press-item">
        <a href="http://snippetandink.com/" class="press-target" data-iframe-target>
          <img src="/assets/img/praise/snippet-and-ink.png" alt="" class="press-img">
        </a>
        <div class="press-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
      </article>

      <article class="press-item">
        <a href="http://greenweddingshoes.com/" class="press-target" data-iframe-target>
          <img src="/assets/img/praise/green-wedding-shoes.png" alt="" class="press-img">
        </a>
        <div class="press-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
      </article>

      <article class="press-item">
        <a href="http://www.stylemepretty.com/" class="press-target" data-iframe-target>
          <img src="/assets/img/praise/style-me-pretty.png" alt="" class="press-img">
        </a>
        <div class="press-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
      </article>
    </div>
  
    <div data-iframe-wrap></div>

    <div class="typeset">
      <blockquote class="quote">
        <p>“Heather was my savior! I know that sounds dramatic, but anyone who's attempted wedding planning on their own knows that it's not. My wedding crossed 3 cultures, had almost 700 people attending, and also had me, the worlds most spazzy bride. Heather had her work cut out for her, and I honestly didn't see her break a sweat. She is a consummate professional. She was able to juggle one million requests at the same time (literally, probably 10 at once. No joke) and always had a smile on her face. On top of all this, she took me to coffee more than twice when she saw me showing signs of a breakdown. I could run through every time I wanted to freak out and didn't because of heather, but then I'm sure no one would read that novel. Heather, I will never be able to thank you for all your hard work and for making my wedding so beautiful that people are STILL telling me how amazing it was (3 years later! Just yesterday I got another rave review about your work!) I would (and do) highly recommend Heather to any and all soon-to-be brides who want their day to be perfect!”</p>
        <cite class="cite">-Parya S., Bride</cite>
      </blockquote>

      <blockquote class="quote">
        <p>“Heather has an incredible ability to capture the muddled and, at the same time, very particular ideas I had for the look and feel of my wedding day.  She transformed them all into a cohesive vision and from there translated this vision into a straight forward (and budget-friendly) action plan.  In the months, weeks and even day of the wedding, I was able to focus on other things, fully confident that Heather and her team were behind-the-scenes making the event absolutely perfect.”</p>
        <cite class="cite">-Steffanie M., Bride</cite>
      </blockquote>

      <blockquote class="quote">
        <p>“When Heather Johnson’s services were recommended to me, I was told that she was good. After having employed Heather as both my interior designer and event planner, I can tell you, she is not merely good, she’s incredible.</p>

        <p>When designing my home, Heather took into account the aesthetic, functional, and budget needs of my 5 housemates and found a way to make The Villa, as we call it, a beautiful home. The house is featured on Bravo’s new reality series, ‘Silicon Valley.’</p>

        <p>Once my home was (impeccably) furnished, Heather applied her impressive work ethic to designing events for my company. Events both large and small were designed and executed free of flaw. In many instances, Heather was given a short amount of time and a strict budget. No matter the circumstance, each event was stunning success. Pleasant, patient, and creative, I recommend Heather to anyone in need of a stellar interior/event designer who works efficiently and enthusiastically.”</p>
        <cite class="cite">-Marcus Lovingood, CEO</cite>
      </blockquote>

      <blockquote class="quote">
        <p>“As a photographer, I've had the pleasure of working with Heather on several occasions. It’s truly amazing how she is consistently able to create stylish, exciting and simply beautiful events that WOW the crowd. She executes with perfection, stays absolutely cool under pressure and will think of even the smallest details that make all her events so special. Not to mention her intelligence and great sense of humor make her a pleasure to be around!”</p>
        <cite class="cite">-Yulia G., Photographer</cite>
      </blockquote>
    </div>
  
  </div>
</section>
