---
title: Press
banner: white
---


<div class="arrows watercolor small">
  <section class="section">
    <div class="container">

      <div class="lede">
        <p>Just a nod to some of the amazing clients and vendors Adelphi has worked with over the years. We are so lucky we do what we love, and love what we do!</p>
      </div>

      <div class="press">
        <article class="press-item">
          <div class="press-media">
            <img src="/assets/img/press/kaitlyn-eamon.jpg" alt="" class="press-img">
          </div>
          <div class="press-body">
            <blockquote class="press-quote">
              <p>“Heather was my savior! I know that sounds dramatic, but anyone who's attempted wedding planning on their own knows that it's not. My wedding crossed 3 cultures, had almost 700 people attending, and also had me, the worlds most spazzy bride. Heather had her work cut out for her, and I honestly didn't see her break a sweat. She is a consummate professional. She was able to juggle one million requests at the same time (literally, probably 10 at once. No joke) and always had a smile on her face. On top of all this, she took me to coffee more than twice when she saw me showing signs of a breakdown. I could run through every time I wanted to freak out and didn't because of heather, but then I'm sure no one would read that novel. Heather, I will never be able to thank you for all your hard work and for making my wedding so beautiful that people are STILL telling me how amazing it was (3 years later! Just yesterday I got another rave review about your work!) I would (and do) highly recommend Heather to any and all soon-to-be brides who want their day to be perfect!”</p>
              <cite class="press-cite">-Parya S., Bride</cite>
            </blockquote>
          </div>
        </article>

        <article class="press-item">
          <div class="press-media">
            <a href="http://snippetandink.com/" class="press-target" data-iframe-target>
              <img src="/assets/img/press/snippet-and-ink.png" alt="" class="press-img">
            </a>
          </div>
          <div class="press-body">
            <p>DIY Luminaires Wedding Project</p>
          </div>
        </article>

        <article class="press-item">
          <div class="press-media">
            <img src="/assets/img/press/a.png" alt="" class="press-img">
          </div>
          <div class="press-body">
            <blockquote class="press-quote">
              <p>“I’ve been lucky enough to work with Heather for roughly five years as one of her party rental vendors. During our time working together I've noticed something different about Heather - she genuinely enjoys what she does and knows how to laugh instead of stress. She is an event planner I look forward to seeing in the office because she always has a smile on her face and knows exactly what she needs. She is fair with referrals and takes the time to go for the mom-and-pop companies before calling “the big guys”. Having worked with many event planners over the years I can honestly say that Heather is unparalleled in her abilities. There has never been a hesitation to send clients to her because I know that they will be blown away by her work. I would love to have more referrals as consistent and competent! In my opinion, hiring Heather and the Adelphi Team would be the smartest decision anyone throwing a special event can make!</p>
              <cite class="press-cite">-Kim Hudson, Manager - A Grande Affair Rentals</cite>
            </blockquote>
          </div>
        </article>

        <article class="press-item">
          <div class="press-media">
            <a href="http://www.stylemepretty.com/2012/04/06/wine-country-wedding-by-christina-diane-wedding-photography/" class="press-target" data-iframe-target>
              <img src="/assets/img/press/style-me-pretty.png" alt="" class="press-img">
            </a>
          </div>
          <div class="press-body">
            <p>Wine Country Wedding by Christina McNeill Photography</p>
          </div>
        </article>

        <article class="press-item">
          <div class="press-media">
            <img src="/assets/img/press/bravo.png" alt="" class="press-img">
          </div>
          <div class="press-body">
            <blockquote class="press-quote">
              <p>“Heather was my savior! I know that sounds dramatic, but anyone who's attempted wedding planning on their own knows that it's not. My wedding crossed THREE cultures, had almost SEVEN HUNDRES guests attending, and also had me - the worlds most spazzy bride. Heather had her work cut out for her, and I honestly didn't see her break a sweat. She is a consummate professional. She was able to juggle one million requests at the same time (literally, probably 10 at once. No joke) and always had a smile on her face. On top of all this, she took me to coffee more than twice when she saw me showing signs of a breakdown. I could run through every time I wanted to freak out and didn't because of Heather, but then I'm sure no one would read that novel! Heather, I will never be able to thank you for all your hard work and for making my wedding so beautiful that people are STILL telling me how amazing it was. I would (and do) highly recommend Heather to any and all soon-to-be brides who want their day to be perfect!”</p>
              <cite class="press-cite">-Parya S., Bride:</cite>
            </blockquote>
          </div>
        </article>

        <article class="press-item">
          <div class="press-media">
            <a href="http://www.bravotv.com/start-ups-silicon-valley" class="press-target" data-iframe-target>
              <img src="/assets/img/press/bravo.png" alt="" class="press-img">
            </a>
          </div>
          <div class="press-body">
            <p>Silicon Valley TV Show Event and Interior Design</p>
          </div>
        </article>

        <article class="press-item">
          <div class="press-media">
            <img src="/assets/img/press/a.png" alt="" class="press-img">
          </div>
          <div class="press-body">
            <blockquote class="press-quote">
              <p>I have had the pleasure of working with Heather as a colleague and trusted vendor for my clients. Seeing how she approaches her work from both the inside and out has shown she is one of the most genuine and hardworking planners out there. She takes great pride in paying attention to every last detail, in addition to building true relationships with her clients. Heather's passion for the industry and her undeniable enjoyment of her job make her a joy to work with and ensures a flawless event.</p>
              <cite class="press-cite">-Danielle L., Venue Manager - California Academy of Sciences</cite>
            </blockquote>
          </div>
        </article>

        <article class="press-item">
          <div class="press-media">
            <a href="http://ruffledblog.com/gold-and-green-san-francisco-wedding" class="press-target" data-iframe-target>
              <img src="/assets/img/press/ruffled.png" alt="" class="press-img">
            </a>
          </div>
          <div class="press-body">
            <p>Green and Gold San Francisco Wedding</p>
          </div>
        </article>

        <article class="press-item">
          <div class="press-media">
            <img src="/assets/img/press/bravo.png" alt="" class="press-img">
          </div>
          <div class="press-body">
            <blockquote class="press-quote">
              <p>“When Heather Johnson’s services were recommended to me, I was told that she was good. After having employed Heather as both my interior designer and event planner, I can tell you, she is not merely good, she’s incredible. When designing my home, Heather took into account the aesthetic, functional, and budget needs of my 5 housemates and found a way to make The Villa, as we call it, a beautiful home. The house is featured on Bravo’s new reality series, ‘Silicon Valley.’ Once my home was (impeccably) furnished, Heather applied her impressive work ethic to designing events for my company. Events both large and small were designed and executed free of flaw. In many instances, Heather was given a short amount of time and a strict budget. No matter the circumstance, each event was a stunning success. Pleasant, patient, and creative, I recommend Heather to anyone in need of a stellar interior/event designer who works efficiently and enthusiastically.”</p>
              <cite class="press-cite">-Marcus Lovingood, Event Client:</cite>
            </blockquote>
          </div>
        </article>

        <article class="press-item">
          <div class="press-media">
            <a href="http://snippetandink.com/" class="press-target" data-iframe-target>
              <img src="/assets/img/press/snippet-and-ink.png" alt="" class="press-img">
            </a>
          </div>
          <div class="press-body">
            <p>DIY Envelope Liner Wedding Project</p>
          </div>
        </article>

        <article class="press-item">
          <div class="press-media">
            <img src="/assets/img/press/parya-dipak.jpg" alt="" class="press-img">
          </div>
          <div class="press-body">
            <blockquote class="press-quote">
              <p>You hire someone for their design aesthetic, professionalism, reliability, personality and someone that will always put your best interests first. Heather is all of these things and more. I have had the pleasure of working with Heather on many weddings - several being my recommendations to my own clients - and every last client has praised both her work and work ethic. She’s nothing short of amazing - the perfect event planner and designer to have on your wedding day.</p>
              <cite class="press-cite">-Parya S., Bride</cite>
            </blockquote>
          </div>
        </article>

        <article class="press-item">
          <div class="press-media">
            <a href="http://www.weddingchicks.com/2011/02/14/valentine-wedding-inspiration-christina-diane/" class="press-target" data-iframe-target>
              <img src="/assets/img/press/the-wedding-chicks.png" alt="" class="press-img">
            </a>
          </div>
          <div class="press-body">
            <p>Valentine Wedding Inspiration from Christina McNeill</p>
          </div>
        </article>

        <article class="press-item">
          <div class="press-media">
            <img src="/assets/img/press/a.png" alt="" class="press-img">
          </div>
          <div class="press-body">
            <blockquote class="press-quote">
              <p>“As a photographer, I've had the pleasure of working with Heather on several occasions. It’s truly amazing how she is consistently able to create stylish, exciting and simply beautiful events that WOW the crowd. She executes with perfection, stays absolutely cool under pressure and will think of even the smallest details that make all her events so special. Not to mention her intelligence and great sense of humor make her a pleasure to be around!”</p>
              <cite class="press-cite">-Yulia Goldshtrakh, Photographer</cite>
            </blockquote>
          </div>
        </article>

        <article class="press-item">
          <div class="press-media">
            <a href="http://greenweddingshoes.com/rustic-vintage-wedding-ideas/" class="press-target" data-iframe-target>
              <img src="/assets/img/press/green-wedding-shoes.png" alt="" class="press-img">
            </a>
          </div>
          <div class="press-body">
            <p>Rustic Vintage Wedding Inspiration Shoot</p>
          </div>
        </article>

        <article class="press-item">
          <div class="press-media">
            <img src="/assets/img/press/steffanie-jon-erik.jpg" alt="" class="press-img">
          </div>
          <div class="press-body">
            <blockquote class="press-quote">
              <p>“Heather has an incredible ability to capture the muddled and, at the same time, very particular ideas I had for the look and feel of my wedding day. She transformed them all into a cohesive vision and from there translated this vision into a straight forward (and budget-friendly) action plan. In the months, weeks and even day of the wedding, I was able to focus on other things, fully confident that Heather and her team were behind-the-scenes making the event absolutely perfect.”</p>
              <cite class="press-cite">-Steffanie M, Bride:</cite>
            </blockquote>
          </div>
        </article>

        <article class="press-item">
          <div class="press-media">
            <a href="http://www.stylemepretty.com//2010/06/15/san-francisco-tablescape-by/" class="press-target" data-iframe-target>
              <img src="/assets/img/press/style-me-pretty.png" alt="" class="press-img">
            </a>
          </div>
          <div class="press-body">
            <p>San Francisco Tablescape Inspiration Shoot</p>
          </div>
        </article>
      </div>
    
      <div data-iframe-wrap></div>
    
    </div>
  </section>

  <img src="/assets/img/arrows/arrows-left.png" alt="" class="arrows-left">
  <img src="/assets/img/arrows/arrows-right.png" alt="" class="arrows-right">
</div>
