---
title: Contact
---


<section class="hero contact">
  <div class="hero-wrap border">
    <div class="hero-body">
      <h1 class="hero-heading">Contact</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="typeset">
      <div class="small-lede">
        <p>We can't wait to hear about your event and help bring your vision to life! drop us a line, give us a call, even send a messenger pigeon. (it'd surely be a first ;)</p>
        <p>We'd love to get together for a coffee and a chat very very soon!</p>
      </div>
    </div>

    <form class="form">
      <ul>
        <li>
          <label for="name">First + Last name</label>
          <input id="name" type="text" placeholder="First + Last name">
        </li>
        <li>
          <label for="email">Email</label>
          <input id="email" type="email" placeholder="Email">
        </li>
        <li>
          <label for="phone">Phone</label>
          <input id="phone" type="text" placeholder="Phone">
        </li>
        <li>
          <label for="date">Date of proposed event</label>
          <input id="date" type="text" placeholder="Date of proposed event">
        </li>
        <li>
          <label for="details">Tell us everything…</label>
          <textarea placeholder="Tell us everything…"></textarea>
        </li>
        <li>
          <button class="button large">Submit</button>
        </li>
      </ul>
    </form>
  </div>
</section>
