<footer class="container" role="contentinfo" itemscope itemtype="http://schema.org/Organization">
  <div class="footer">
  
    <div>
      <p class="copyright">© 2016 all rights reserved adelphi events llc</p>
      <p><a href="mailto:info@adelphi-events.com" itemprop="email">info@adelphi-events.com</a> | <a href="tel:4152460211" itemprop="telephone">415.246.0211</a></p>
    </div>

    <div>
      <ul class="social">
        <li class="social-item">
          <a href="/blog/" class="social-target">
            <img src="/assets/img/icons/blog.svg" width="50" alt="Blog" class="social-img">
          </a>
        </li>
        <li class="social-item">
          <a href="http://www.pinterest.com/adelphievents/" class="social-target">
            <img src="/assets/img/icons/pinterest.svg" width="50" alt="Pinterest" class="social-img">
          </a>
        </li>
        <li class="social-item">
          <a href="https://www.facebook.com/AdelphiEvents" class="social-target">
            <img src="/assets/img/icons/facebook.svg" width="50" alt="Facebook" class="social-img">
          </a>
        </li>
        <li class="social-item">
          <a href="http://instagram.com/adelphievents" class="social-target">
            <img src="/assets/img/icons/instagram.svg" width="50" alt="Instagram" class="social-img">
          </a>
        </li>
      </ul>
    </div>

  </div>
</footer>
