<header class="header <%= current_page.data.banner %>" role="banner" data-hamburger-open>
	<% unless data.page.hide_logo %>
	  <h1 class="logo"><a href="/" class="logo-target"><span class="logo-adelphi">Adelphi</span> <span class="logo-events">Events</span></a></h1>
  <% end %>
  <%= partial 'layouts/partials/nav' %>
</header>
