<nav class="navigation" role="navigation" data-hamburger-container>
  <div class="hamburger-wrap">
    <div class="hamburger" data-hamburger>
      <div class="hamburger-patties"></div>
    </div>
  </div>

  <div class="main-nav">
    <a href="/gallery/" class="main-nav-target"><span>Gallery</span></a>
    <a href="/about/" class="main-nav-target "><span>About</span></a>
    <a href="/services/" class="main-nav-target "><span>Services</span></a>
    <a href="/press/" class="main-nav-target "><span>Press</span></a>
    <a href="/contact/" class="main-nav-target "><span>Contact</span></a>
    <a href="/blog/" class="main-nav-target "><span>Blog</span></a>
  <div>
</nav>
