---
title: About
banner: opaque
---


<section class="hero about">
  <div class="hero-wrap border">
    <div class="hero-body">
      <h1 class="hero-heading">About</h1>
    </div>
  </div>
</section>

<div class="arrows">
  <section class="section typeset">
    <div class="container">
      <h2>Company</h2>

      <p>Adelphi Events is a full service wedding and social events company with an inspired approach to event planning, design and production. From intimate gatherings to the most lavish events, we bring detailed structure and trendsetting design to every celebration. Led by executive planner Heather Johnson, our work has been featured in premier wedding forums such as <i>Style Me Pretty, Snippet & Ink</i> as well as Bravo TV.</p>

      <p>Read more <a href="/press/">Adelphi Events press</a>.</p>

      <p>Based in the San Francisco Bay Area, we work closely with each client to develop a signature event and seamlessly orchestrate that experience. We pride ourselves on the depth of connections we make with our clients. It’s our way of infusing your event with a style and personality that is uniquely your own.</p>

      <p>Be it an intimate proposal dinner for two, the grand wedding you’ve always dreamed of, or a unforgettable social event, our goal is to capture and enhance your vision with skill, style, and the best possible use of resources. It’s an experience that we promise you will love and remember.</p>
   
    
      <h2>Heather</h3>

      <p>As a self-described “tastemaker-for-hire”, Heather has found her calling as an Event Planner + Designer. It’s a role that encompasses all the things she knows and practices—interior design, fashion, organization, crafting, and leading teams of professionals.</p>

      <p>Genuinely inspired by all the love stories she hears everyday, Heather employs her passion for travel and different cultures in designing and producing some of the most personalized and spectacular weddings imaginable.</p>
   
      <p>Her role is to ensure that each client feels supported throughout the entire planning, design,  and production process. She loves discovering new ways to inspire guests, and seeing the satisfaction of her clients as their vision comes to life. Her warm, witty, and calming personality is always in demand – which is why she maintains close connections with clients years after their event.</p>

      <img src="/assets/img/about/heather+devonne.png" alt="">
   
      <h2>Devonne</h3>

      <p>Adelphi means “sister” in Greek and Devonne is the perfect bookend to Heather’s hands-on leadership style. She mirrors her highly organized, always creative, party-minded mentality.</p>

      <p>With a degree in Set Design from UCLA, Devonne [<i>pronounced Devin</i>] polished her design skills on major motion pictures in Hollywood. Before coming to work at Adelphi, she worked as a floral assistant for one of California’s top floral designers as well as an event coordinator for a corporate events company that stages large, 10,000+ attendee events.</p>

      <p>Devonne is our best sounding board – dipped in GOLD. She is well-traveled, well-read, and for the most part, very well-mannered. She can be calming, charming, but also an unstoppable force be reckoned with when things need to get done! </p>

      <p>Clearly, perfectionism and creativity are in our DNA at Adelphi Events.</p>

   
      <h2>event team</h3>
   
      <p>The Adelphi team is a tight, closely knit group that plans and delivers an exclusive number of weddings and events throughout the year. We also consult on styling media editorials, events, and environments across the country.</p>

      <p>We enjoy taking our event design and planning team on the road! We draw on our combined strengths to ensure every detail is in place, triple-checked and delivered flawlessly - regardless of how near or far we are from our home base.</p>

      <p>Our team has the creative expertise to design virtually any kind of party or celebration from conception through execution. We offer a custom set of services that continuously exceed our clients’ expectations. Please visit our <a href="/services/">Services page</a> to get a closer look at what we can do for you.</p>
   
      <p>Come join us for coffee and let’s share our ideas for your truly unforgettable event! Here’s to getting inspired together. With love, Heather & Team Adelphi</p>
    </div>
  </section>

  <img src="/assets/img/arrows/arrows-left.png" alt="" class="arrows-left">
  <img src="/assets/img/arrows/arrows-right.png" alt="" class="arrows-right">
</div>
