.button {
	margin: 0;
	border: 0;
	padding: 0;
	width: 195px;
	height: 195px;
	background: url(/assets/img/buttons/watercolor.png) 50% 50% no-repeat;
	color: white;
	text-transform: uppercase;
	font-size: rem(32);
}
