
.has-placard {
	cursor: pointer;
	position: relative;

	&:hover, &:active, &:focus {
		.gallery-placard {
		  @include display-flex();
		}
	}
}

.gallery-placard {
  @include flex-direction(column);
  @include justify-content(flex-end);
  padding: rem(10);
	background-color: rgba(white, 0.75);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	color: $green;
	display: none;
}

.gallery-placard-heading {
	margin: 0 0 rem(5);
	font: {
		family: $font-family-caviar;
		size: rem(18);
		weight: $font-weight-bold;
	}
	text-transform: uppercase;
}

.gallery-placard-subheading {
	margin: 0;
	font: {
		family: $font-family-caviar;
		size: rem(15);
		weight: $font-weight-regular;
	}
}

// Event details
.event {
	margin-top: rem(200);
	
	&.hide { display: none; }
	&.show { display: block; }

	&::before {
		content: '';
		display: block;
		height: 75px;
		margin-top: -75px;
	}
}

.event-body {
	font: {
		family: $font-family-century;
		size: rem(28);
		weight: $font-weight-regular;
	}
	line-height: (56/28);

	p {
		&::first-line { text-transform: uppercase; }
	}
}
