.hamburger-wrap {
  position: absolute;
  right: 35px;
  top: 24px;
  z-index: 2;
}

.hamburger {
  width: 34px;
  height: 24px;
  cursor: pointer;

  &:hover, &:active, &:focus {
    .hamburger-patties {
      &:before { top: -3px; }
      &:after  { bottom: 10px; }
    }
  }
}

.hamburger-patties {
  width: 42px;
  margin: 7px 0;
  height: 4px;
  background-color: white;
  border-radius: 1px;

  .green &  { background-color: $green; }
  .white &  { background-color: $green; }
  .opaque & { background-color: $green; }
  .black &  { background-color: black; }

  .is-selected & { background-color: transparent !important; }

  &:before, &:after {
    @include transition( all 0.3s );
    width: 42px;
    height: 4px;
    background-color: white;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    border-radius: 1px;

    .green &  { background-color: $green; }
    .white &  { background-color: $green; }
    .opaque & { background-color: $green; }
    .black &  { background-color: black; }

    .is-selected & { background-color: $green !important; }
  }

  &:before {
    top: -1px;

    .is-selected & {
      top: 10px !important;
      @include rotate(-45deg);
    }
  }

  &:after  {
    bottom: 12px;

    .is-selected & {
      bottom: 18px !important;
      @include rotate(45deg);
    }
  }
}
