.lede {
	margin-bottom: rem(80);
	font-size: rem(23);
	font-family: $font-family-caviar;
	font-weight: $font-weight-regular;
	line-height: (38/23);
	text-align: justify;
	text-transform: uppercase;

	p {
		line-height: inherit;
		font-weight: inherit;
	}

  a {
    @include link($reverse:true);
    &.rev-link { @include link($reverse:true); }
  }
}
