.main-nav {
  @include flex-direction(column);
  @include justify-content(center);
  display: none;
  margin: 0;
  padding: rem(80) 0;
  list-style: none;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(white, 0.75);

  .is-selected & {
    @include display-flex;
  }
}

.main-nav-target {
  text-decoration: none;
  color: $dark-gray;
  font-size: rem(36);
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: tracking(200);
  width: 100%;
  text-align: center;

  &:hover, &:active, &:focus {
    color: $green;
  }
}
