.press {}

.press-item {
	overflow: auto;
	margin-bottom: rem(30);

	&:nth-child(odd) .press-target  { float: left; margin-right: rem(20) !important; }
	&:nth-child(even) .press-target { float: right; margin-left: rem(20) !important; }
}

.press-target {
	border: 1px solid $green;
  padding: rem(20);
  text-decoration: none;
  text-align: center;
  display: block;
  width: 150px;
}

.press-body {
  font: {
    size: rem(20);
    weight: $font-weight-regular;
  }
  line-height: (28/20);
}
