.section {
  padding-top: rem(60);
  padding-bottom: rem(60);
	background: {
		repeat: no-repeat;
		position: 50% 50%;
		size: cover;
	}

  &.short {
	  padding-top: rem(30);
	  padding-bottom: rem(30);
  }

  &.gray { background: #f1f2f2; }
}

.watercolor {
  background: {
    image: url(/assets/img/sections/watercolor.png);
    position: 50% 0;
    repeat: no-repeat;
  }

  &.far { background-image: url(/assets/img/sections/watercolor-far.png); }
  &.close { background-image: url(/assets/img/sections/watercolor-close.png); }
}
