.typeset {

  a {
    @include link($reverse:true);
    &.rev-link { @include link($reverse:true); }

    h1 &, h2 &, h3 &, h4 &, h5 &, h6 & {
      @include link($reverse:true);
    }
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $heading-font-family;
  }

  h1, .h1 {
    font-size: $h1-font-size;
  }
  
  h2, .h2 {
    margin-top: rem(100);
    color: $green;
    text-transform: uppercase;
    font-size: rem($h2-font-size);
    font-weight: $font-weight-bold;

    &:first-child { margin-top: 0; }
  }

  h3, .h3 {
    font-size: rem($h3-font-size);
  }
  
  h4, .h4 {
    margin-bottom: rem(10);
    font-size: rem($h4-font-size);
    font-weight: $font-weight-regular;
    text-transform: uppercase;
    color: $green;

    + p { margin-top: 0; }
  }
  
  h5, .h5 {
    font-size: rem($h5-font-size);
    color: $text-color;
  }

  h6, .h6 {
    font-size: rem($h6-font-size);
  }

  p {
    line-height: $body-line-height;
    font-weight: $font-weight-regular;
  }

  ul {
    padding-left: rem(23);

    li {
      padding-top: rem(3);
      padding-bottom: rem(3);
    }

    ul {
      padding-top: rem(3);
      padding-left: 0;
    }
  }

  &.small { font-size: rem(18); }

  .service-heading {
    margin: rem(50) 0 0;
    text-align: center;
    color: $green;
    font: {
      family: $font-family-dancing;
      size: rem(60);
      weight: $font-weight-regular;
    }

    &::before {
      content: '';
      display: block;
      height: 75px;
      margin-top: -75px;
    }
  }

  .about-heading {
    font: {
      family: $font-family-caviar;
      size: rem(22);
      weight: $font-weight-regular;
    }
    color: $dark-gray;

    span {
      font: {
        family: $font-family-dancing;
        size: rem(50);
        weight: $font-weight-regular;
      }
      color: $green;
      text-transform: none;
    }
  }

  .left  { margin-right: rem(20) !important; }
  .right { margin-left: rem(20) !important; }
}
