---
banner: green
hide_logo: true
hide_footer: true
---

<div id="pagepiling" class="home">

  <section class="pagepiling-section home-intro">
    <img src="/assets/img/a/intro.png" alt="" class="home-a">
    <h2 class="home-heading logo black"><span class="logo-adelphi">Adelphi</span> <span class="logo-events">Events</span></h2>
    <span class="pagepiling-next"><i class="iconz-arrow" aria-hidden="true"></i> <span class="visuallyhidden">Next section</span></span>
  </section>

  <section class="pagepiling-section home-gallery">
    <a class="home-target" href="/gallery/">
      <img src="/assets/img/a/gallery.png" alt="" class="home-a">
      <h2 class="home-heading">Gallery</h2>
      <p class="home-subheading">Past moments for future inspiration <i class="iconz-arrow" aria-hidden="true"></i></p>
    </a>
    <span class="pagepiling-next"><i class="iconz-arrow" aria-hidden="true"></i> <span class="visuallyhidden">Next section</span></span>
  </section>

  <section class="pagepiling-section home-about">
    <a class="home-target" href="/about/">
      <img src="/assets/img/a/about.png" alt="" class="home-a">
      <h2 class="home-heading">About</h2>
      <p class="home-subheading">The who. The what. The when. <i class="iconz-arrow" aria-hidden="true"></i></p>
    </a>
    <span class="pagepiling-next"><i class="iconz-arrow" aria-hidden="true"></i> <span class="visuallyhidden">Next section</span></span>
  </section>

  <section class="pagepiling-section home-services white">
    <a class="home-target" href="/services/">
      <img src="/assets/img/a/services.png" alt="" class="home-a">
      <h2 class="home-heading">Services</h2>
      <p class="home-subheading">It’s business time <i class="iconz-arrow" aria-hidden="true"></i></p>
    </a>
    <span class="pagepiling-next"><i class="iconz-arrow" aria-hidden="true"></i> <span class="visuallyhidden">Next section</span></span>
  </section>

  <section class="pagepiling-section home-press white">
    <a class="home-target" href="/press/">
      <img src="/assets/img/a/press.png" alt="" class="home-a">
      <h2 class="home-heading">Press</h2>
      <p class="home-subheading">Whos talking about us and what they have to say <i class="iconz-arrow" aria-hidden="true"></i></p>
    </a>
    <span class="pagepiling-next"><i class="iconz-arrow" aria-hidden="true"></i> <span class="visuallyhidden">Next section</span></span>
  </section>

  <section class="pagepiling-section home-contact white">
    <a class="home-target" href="/contact/">
      <img src="/assets/img/a/contact.png" alt="" class="home-a">
      <h2 class="home-heading">Contact</h2>
      <p class="home-subheading">Drop us a line or just a quick text to say hello <i class="iconz-arrow" aria-hidden="true"></i></p>
    </a>
    <span class="pagepiling-next"><i class="iconz-arrow" aria-hidden="true"></i> <span class="visuallyhidden">Next section</span></span>
  </section>

  <section class="pagepiling-section home-info">
    <ul class="home-social">
      <li class="home-social-item">
        <a href="/blog/" class="home-social-target">
          <img src="/assets/img/icons/blog.svg" width="50" alt="Twitter" class="home-social-img">
          <h3 class="home-social-heading">Blog.</h3>
          <p class="home-social-subheading">In a pretty bow</p>
        </a>
      </li>
      <li class="home-social-item">
        <a href="http://www.pinterest.com/adelphievents/" class="home-social-target">
          <img src="/assets/img/icons/pinterest.svg" width="50" alt="Pinterest" class="home-social-img">
          <h3 class="home-social-heading">Pinterest.</h3>
          <p class="home-social-subheading">It’s not copying…</p>
        </a>
      </li>
      <li class="home-social-item">
        <a href="https://www.facebook.com/AdelphiEvents" class="home-social-target">
          <img src="/assets/img/icons/facebook.svg" width="50" alt="Facebook" class="home-social-img">
          <h3 class="home-social-heading">Facebook.</h3>
          <p class="home-social-subheading">Day in the life of…</p>
        </a>
      </li>
      <li class="home-social-item">
        <a href="http://instagram.com/adelphievents" class="home-social-target">
          <img src="/assets/img/icons/instagram.svg" width="50" alt="Instagram" class="home-social-img">
          <h3 class="home-social-heading">Instagram</h3>
          <p class="home-social-subheading">Easier than stalking.</p>
        </a>
      </li>
    </ul>
    
    <!-- <p class="text-right mb0"><img src="/assets/img/home/adelphi-badge.jpg" alt="Adelphi Events" class="home-info-badge"></p> -->

    <%= partial 'layouts/partials/footer' %>
  </section>

</div>
